<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<div class="container">
    <p>欢迎，{{ nickname }} 使用本系统</p>
    <div>
        <a href="/add/" class="btn btn-success">添加</a>
        <a href="/logout" class="btn btn-danger">退出</a>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="search_name" value="{{ search_name }}" placeholder="姓名">
            <input type="text" name="search_school" value="{{ search_school }}" placeholder="学院">
            <input type="text" name="search_class" value="{{ search_class }}" placeholder="年级">
            <button type="submit">查询</button>
        </form>


    </div>
    {% if data.count > 0 %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>学院</th>
                <th>班级</th>
                <th>职务</th>
                <th>手机</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for datum in data %}
                <tr>
                    <td>{{ datum.name }}</td>
                    <td>{{ datum.gender }}</td>
                    <td>{{ datum.school }}</td>
                    <td>{{ datum.class_name }}</td>
                    <td>{{ datum.class_position }}</td>
                    <td>{{ datum.phone }}</td>
                    <td>{{ datum.admission | date:'Y 年 m 月 d 日' }}</td>
                    <td><a href="/edit/{{ datum.id }}" class="btn btn-default">编辑</a> <a href="/delete/{{ datum.id }}"
                                                                                         class="btn btn-default"
                                                                                         onclick="return confirm('确认要删除吗？')">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="/index?pageindex=1" class="btn btn-default">1</a>
            <a href="/index?pageindex=2" class="btn btn-default">2</a>
            <a href="/index?pageindex=3" class="btn btn-default">3</a>
        </p>
    {% else %}
        <p class="text-danger text-center">暂无数据</p>
    {% endif %}

</div>
</body>
</html>